{% extends 'news/base.html' %}

{% block content %}
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">

                {% for article in page_obj %}

                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ article.main_image.url }}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'article' article.slug %}  ">
                                <h2>{{ article.name }}</h2>
                            </a>
                            <p>{{ article.short_description }}</p>

                            <ul class="blog-info-link">
                                <li><i class="fa fa-user"></i>
                                    {% for cat in article.categories.all %}
                                    <a href="#">
                                    </a></li>
                                <li><a href="{% url 'category' cat.slug"><i class="fa fa-comments"></i> {{ cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                    {% endfor %}

                {% include 'news/partials/pagination.html' %}

                </div>
            </div>

        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock content %}
