{% extends 'news/base.html' %}

{% block content %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ article.main_image.url }}" alt="">
                    </div>
                    <div class="blog_details">

                        <h2>{{ article.name }} </h2>

                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#comments"><i class="fa fa-comments"></i>{{ article.comments.all.count }}
                                Comments</a>
                            </li>
                        </ul>
                        {{ article.content | safe }}
                    </div>
                </div>
                <div class="navigation-top">

                    <div class="navigation-area">

                        <div class="row">
                            {% if prev_article %}
                            <div
                                    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="{{ prev_article.main_image.url }}" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="{% url 'article' prev_article.slug %}">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <a href="{% url 'article' prev_article.slug %}">
                                        <h4>{{ prev_article.name |truncatewords:10 }}</h4>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% if next_article %}
                            <div
                                    class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">

                                    <a href="{{ next_article.main_image.url }}">
                                        <h4>{{ next_article.name |truncatewords:10 }}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="{{ next_article.main_image.url }}">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="{{ next_article.main_image.url }}" alt="">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="{{ article.author.avatar.url }}" alt="{{ article.author.name | title }}">
                        <div class="media-body">

                            <h4>{{ article.author.name | title }}</h4>

                            <p>{{ article.author.bio | title }}</p>
                        </div>
                    </div>
                </div>
                 {% if comments %}
                <div class="comments-area" id="comments">
                    <h4>{{comments.count }} Comments</h4>
                    {% for comment in comments %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="desc">
                                    <p class="comment">
                                        {{ comment.comment }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                {{ comment.name }}
                                            </h5>
                                            <p class="date">{{ comment.pub_date }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="comment-form">
                        <h4>Leave a Comment</h4>
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        <form class="form-contact comment_form" action="" method="post" id="commentForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="color: red;">
                                        {{ form.comment.errors }}
                                        <textarea class="form-control w-100" name="comment" id="comment" required
                                                  cols="30" rows="9"
                                                  placeholder="Write Comment">{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style="color: red;">
                                        {{ form.name.errors }}
                                        <input class="form-control" name="name" id="name" required type="text"
                                               placeholder="Name"
                                               {% if form.name.value %}
                                               value="{{ form.name.value }}"
                                               {% endif %}
                                        >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style="color: red;">
                                        {{ form.email.errors }}
                                        <input class="form-control" name="email" id="email" required type="email"
                                               placeholder="Email"
                                               {% if form.email.value %}
                                               value="{{ form.email.value }}"
                                               {% endif %}
                                        >
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group" style="color: red;">
                                        {{ form.website.errors }}
                                        <input class="form-control" name="website" id="website" type="text"
                                               placeholder="Website"
                                               {% if form.website.value %}
                                               value="{{ form.website.value }}"
                                               {% endif %}
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->

{% endblock content %}